In [1]:
# This snippet sums all numbers from 0 to 99,999 
# that are multiples of 3 or 5

sum = 0

for i in range(100000):
    if i % 3 == 0 or i % 5 == 0:
        sum += i
print(sum)

2333316668

In [2]:
tup = 4, 5, (6,7)

In [3]:
a, b, (c, d) = tup

In [4]:
c

6

In [5]:
d

7

In [6]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [7]:
values = 1, 2, 3, 4, 5

a, b, *rest = values

In [8]:
a, b

(1, 2)

In [9]:
rest

[3, 4, 5]

In [10]:
a, b, rest

(1, 2, [3, 4, 5])

In [11]:
a = (1, 2, 2, 2, 3, 4, 5, 5, 2, 1)

a.count(2)

4

LIST

In [12]:
a_list = [2, 3, 4, None]
a_list

[2, 3, 4, None]

In [13]:
tup = ('foo', 'bar', 'baz')
tup

('foo', 'bar', 'baz')

In [14]:
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [15]:
b_list[1]

'bar'

In [16]:
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [17]:
gen = range(10)
gen

range(0, 10)

In [18]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
# append
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [20]:
# insert
b_list.insert(2, 'bazinga')
b_list

['foo', 'peekaboo', 'bazinga', 'baz', 'dwarf']

In [21]:
# pop
b_list.pop(-1)
b_list

['foo', 'peekaboo', 'bazinga', 'baz']

In [22]:
b_list.append('foo')
b_list

['foo', 'peekaboo', 'bazinga', 'baz', 'foo']

In [23]:
# remove
b_list.remove('foo')
b_list

['peekaboo', 'bazinga', 'baz', 'foo']

In [24]:
# concatenate and combine lists
list_1 = [4, None, 'foo'] + [1, 2, (2, 3)]
list_2 = [4, None, 'foo', 1, 2, (2, 3)]
print(list_1)
print(list_2)

[4, None, 'foo', 1, 2, (2, 3)]
[4, None, 'foo', 1, 2, (2, 3)]

In [25]:
# extend
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [26]:
# sorting
a = [7, 2, 4, 10, 11, 5, 3]
a.sort()
a

[2, 3, 4, 5, 7, 10, 11]

In [27]:
# sorting by length
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [28]:
# binary search and sorted list
import bisect

In [29]:
c = [1, 2, 2, 2, 3, 4, 7]

In [30]:
bisect.bisect(c, 2)

4

In [31]:
bisect.bisect(c, 5)

6

In [32]:
bisect.insort(c, 6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [33]:
# slicing
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq

[7, 2, 3, 7, 5, 6, 0, 1]

In [34]:
seq[1:5]

[2, 3, 7, 5]

In [35]:
seq[3:len(seq)]

[7, 5, 6, 0, 1]

In [36]:
seq[3:4] = [6,3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [37]:
seq[:5]

[7, 2, 3, 6, 3]

In [38]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [39]:
seq[-4]

5

In [40]:
seq[-4:]

[5, 6, 0, 1]

In [41]:
seq[-6:-2]

[6, 3, 5, 6]

In [42]:
seq[::2]

[7, 3, 3, 6, 1]

In [43]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

Built-In Sequence Functions

In [44]:
# enumerate
some_list = ['foo', 'bar', 'bazinga']

mapping = {}

for i, v in enumerate(some_list):
    mapping[v] = i

In [45]:
mapping

{'foo': 0, 'bar': 1, 'bazinga': 2}

In [46]:
# sorted - integers
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [47]:
# sorted - string
sorted('indrajit')

['a', 'd', 'i', 'i', 'j', 'n', 'r', 't']

In [48]:
# zip
seq1 = ['foo', 'bar', 'bazinga']
seq2 = ['one', 'two', 'three']

zipped = zip(seq1, seq2)
zipped

In [49]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('bazinga', 'three')]

In [50]:
seq3 = [False, True, False]

In [51]:
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True), ('bazinga', 'three', False)]

In [52]:
# common use zip - iterating over multiple sequences
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: bazinga, three

In [53]:
# unzipping, zipped values
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), 
            ('Schilling', 'Curt')]

first_name, last_name = zip(*pitchers)

In [54]:
first_name

('Nolan', 'Roger', 'Schilling')

In [55]:
last_name

('Ryan', 'Clemens', 'Curt')

In [56]:
# reversed
list_to_reverse = range(10)

In [57]:
list_to_reverse

range(0, 10)

In [58]:
reversed_list = list(reversed(list_to_reverse))
reversed_list

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

DICTIONARY

In [59]:
empty_dict = {}

In [60]:
d1 = {'a' : 'apple', 'b' : 'ball', 'c' : 'cat', 'd': [1, 2, 3, 4]}
d1

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': [1, 2, 3, 4]}

In [61]:
d1['e'] = 'evil'
d1

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': [1, 2, 3, 4], 'e': 'evil'}

In [62]:
d1['b']

'ball'

In [63]:
'e' in d1

True

In [64]:
d1[5] = 'some value'
d1

{'a': 'apple',
 'b': 'ball',
 'c': 'cat',
 'd': [1, 2, 3, 4],
 'e': 'evil',
 5: 'some value'}

In [65]:
d1['dummy'] = 'another value'
d1

{'a': 'apple',
 'b': 'ball',
 'c': 'cat',
 'd': [1, 2, 3, 4],
 'e': 'evil',
 5: 'some value',
 'dummy': 'another value'}

In [66]:
del d1[5]
d1

{'a': 'apple',
 'b': 'ball',
 'c': 'cat',
 'd': [1, 2, 3, 4],
 'e': 'evil',
 'dummy': 'another value'}

In [67]:
ret = d1.pop('dummy')
ret

'another value'

In [68]:
d1

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': [1, 2, 3, 4], 'e': 'evil'}

In [69]:
# keys and values method
print('keys: ', d1.keys())
print('values: ', d1.values())

keys:  dict_keys(['a', 'b', 'c', 'd', 'e'])
values:  dict_values(['apple', 'ball', 'cat', [1, 2, 3, 4], 'evil'])

In [70]:
# update
d1.update({'d': 'damn'})
d1

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'damn', 'e': 'evil'}

In [71]:
# creating dicts from sequence
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [72]:
# default values
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

In [73]:
for word in words:
    letter = word[0]
    
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [74]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [75]:
# setdefault
new_words = ['apple', 'ball', 'cat', 'duck', 'elephant']
new_letter = {}

for new_word in new_words:
    letter = new_word[0]
    new_letter.setdefault(letter, []).append(new_word)

In [76]:
new_letter

{'a': ['apple'], 'b': ['ball'], 'c': ['cat'], 'd': ['duck'], 'e': ['elephant']}

In [77]:
hash('string')

-7365157469907970592

In [78]:
hash((1, 2, (3, 4)))

-2725224101759650258

In [79]:
# to use list as a key, convert it to a tuple
d = {}

d[tuple([1, 2, 3])] = 'some numbers'

d

{(1, 2, 3): 'some numbers'}

In [80]:
d[(1, 2, 3)]

'some numbers'

In [81]:
# set
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [82]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [83]:
# set operations
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

In [84]:
# union using binary operator
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [85]:
# union using function
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [86]:
# intersection using binary operator
a & b

{4, 5}

In [87]:
# intersection using function
a.intersection(b)

{4, 5}

In [88]:
# more examples
c = a.copy()

In [89]:
c |= b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [90]:
d = a.copy()

In [91]:
d &= b
d

{4, 5}

In [92]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [93]:
a_set = {1, 2, 3, 4, 5}

In [94]:
{1, 2, 3}.issubset(a_set)

True

In [95]:
a_set.issuperset({1, 2, 3})

True

In [96]:
{1, 2, 3} == {1, 3, 2}

True

In [97]:
{1, 2, 3} == {3, 4, 1}

False

LIST, SET, DICTIONARY COMPREHENSIONS

In [98]:
# list comprehension
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [99]:
# set comprehension
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [100]:
# using map function to comprehense a set
set(map(len, strings))

{1, 2, 3, 4, 6}

In [101]:
# dict comprehension
loc_mapping = {val: index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [102]:
# nested list comprehension - the hard way
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'], 
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

names_of_interest = []

for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)

In [103]:
names_of_interest

['Steven']

In [104]:
# simpler way
result = [name for names in all_data 
          for name in names 
          if name.count('e') >= 2]
result

['Steven']

In [105]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

flattened = [x for tup in some_tuples for x in tup]

flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [106]:
fruits = [('Watermelon', 'Jackfruit'), ('Grapes', 'Berries')]

flatten_fruits = [fruit for tup in fruits for fruit in tup]

flatten_fruits

['Watermelon', 'Jackfruit', 'Grapes', 'Berries']

In [107]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [108]:
[[fruit for fruit in tup] for tup in fruits]

[['Watermelon', 'Jackfruit'], ['Grapes', 'Berries']]

FUNCTIONS

In [109]:
def my_function(x, y, z=1.5):
    if x > 1.5:
        return z * (x + y)
    else:
        return z / (x + y)

In [110]:
my_function(5, 10)

22.5

In [111]:
# returning multiple values as tuples 
# unpacking into result variables.
def f():
    a = 1
    b = 2
    c = 3
    
    return a, b, c

In [112]:
f()

(1, 2, 3)

In [113]:
# returning values as dict
def f():
    a = 4
    b = 5
    c = 6
    
    return {'a': a, 'b': b, 'c': c}

In [114]:
f()

{'a': 4, 'b': 5, 'c': 6}

In [115]:
# function are objects
states = ['   Alabama ', 'Georgia!', 'Georgia', 
          'georgia', 'FlOrIda', 'south carolina##', 
          'West virginia?']

In [116]:
# data cleaning and transformations
import re

def clean_strings(strings):
    result = []
    
    for value in strings:
        value = value.strip()
        print('After Strip: ', value)
        value = re.sub('[!#?]', '', value)
        print('After sub: ', value)
        value = value.title()
        print('After title: ', value)
        result.append(value)
        print('\n')
    return result

In [117]:
clean_strings(states)

After Strip:  Alabama
After sub:  Alabama
After title:  Alabama


After Strip:  Georgia!
After sub:  Georgia
After title:  Georgia


After Strip:  Georgia
After sub:  Georgia
After title:  Georgia


After Strip:  georgia
After sub:  georgia
After title:  Georgia


After Strip:  FlOrIda
After sub:  FlOrIda
After title:  Florida


After Strip:  south carolina##
After sub:  south carolina
After title:  South Carolina


After Strip:  West virginia?
After sub:  West virginia
After title:  West Virginia

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [118]:
# above using functions

def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [119]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [120]:
# using functions as args in built-in map function
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south carolina
West virginia

In [121]:
# Anonymous (Lambda) Functions

def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [122]:
# sort a collection of strings 
# by number of distinct letters in each string

strings = ['foo', 'bar', 'bazinga', 'escobar', 'hellyeah']

strings.sort(key=lambda x: len(set(list(x))))

strings

['foo', 'bar', 'hellyeah', 'bazinga', 'escobar']

In [123]:
# currying: partial arg application

def add_numbers(x, y):
    return x + y

add_five = lambda y: add_numbers(5, y)

In [124]:
# easier way

from functools import partial

add_five = partial(add_numbers, 5)

GENERATORS

In [125]:
# consistent way to iterate over sequences (objects in a list or file)
# accomplished by iterator protocol, makes objects iterable

some_dict = {'a': 1, 'b': 2, 'c': 3}

for key in some_dict:
    print(key)

a
b
c

In [126]:
dict_iterator = iter(some_dict)
dict_iterator

In [127]:
# iterator is any object that will yield objects 
# to the interpreter when used with a context like a loop

list(dict_iterator)

['a', 'b', 'c']

In [128]:
# Generator is a concise way to construct a new iterable object
# create generator using yield instead of return

def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    
    for i in range(1, n + 1):
        yield i ** 2

In [129]:
gen = squares()
gen

In [130]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [131]:
# generate fibonacci using generator

def fibonacci(n):
    a, b = 0, 1
    print('Generate fibonacci upto {0}: '.format(n))
    for _ in range(n):
        yield a
        a, b = b, a + b

In [132]:
list(fibonacci(10))

Generate fibonacci upto 10:

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [133]:
# another way to create generator

gen = (x ** 2 for x in range(20))
gen

In [134]:
for x in gen:
    print(x, end=' ')

0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361

In [135]:
# generators can be used instead of list comprehension 
# as function arg

dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [136]:
# itertools module
import itertools

In [137]:
first_letter = lambda x: x[0]

In [138]:
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

In [139]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

FILES AND OPERATING SYSTEM

In [140]:
path = 'examples/segismundo.txt'
f = open(path)

In [141]:
for line in f:
    pass

In [142]:
lines = [x.rstrip() for x in open(path)]
lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [143]:
f.close()

In [144]:
with open(path) as f:
    lines = [x.rstrip() for x in f]

In [145]:
lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [146]:
# read, seek, and tell
f = open(path)

In [154]:
# read
f.read(10)

'ico en su '

In [155]:
f2 = open(path, 'rb') # Binary mode

In [156]:
f2.read(10)

b'Sue\xc3\xb1a el '

In [157]:
f.tell()

21

In [158]:
f2.tell()

10

In [159]:
import sys

In [160]:
sys.getdefaultencoding()

'utf-8'

In [161]:
# seek
f.seek(3)

3

In [162]:
f.read(1)

'ñ'

In [163]:
f.close()

In [164]:
f2.close()

In [165]:
# writelines
with open('temp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

In [167]:
with open('temp.txt') as f:
    lines = f.readlines()

In [168]:
lines

['Sueña el rico en su riqueza,\n',
 'que más cuidados le ofrece;\n',
 'sueña el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sueña el que a medrar empieza,\n',
 'sueña el que afana y pretende,\n',
 'sueña el que agravia y ofende,\n',
 'y en el mundo, en conclusión,\n',
 'todos sueñan lo que son,\n',
 'aunque ninguno lo entiende.\n']