In [1]:
# important form of structured data
# used in finance, economics, ecology, neuroscience and physics
# anything observed at many points in time forms a time series
# fixed frequency - data points occur at regular intervals
# time series can also be irregular

# timestamps - specific instants in time
# fixed periods - month Jan 2018 or full year 2018
# intervals of time - indicated by start-end timestamp
# elapsed time - each timestamp is a measure of time relative to particular start time

### DATE AND TIME DATA TYPES AND TOOLS

In [2]:
# datetime, time, calender - modules provided by Python
from datetime import datetime

In [3]:
now = datetime.now()
now

datetime.datetime(2019, 1, 9, 11, 45, 29, 426133)

In [4]:
now.year, now.month, now.day

(2019, 1, 9)

In [5]:
# datetime stores date and time down till microsecs
# timedelta represents the temporal difference b/w two datetime objs
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(926, 56700)

In [6]:
delta.days

926

In [7]:
delta.seconds

56700

In [8]:
# add or subtract timedelta to datetime obj to yield a new shifted obj
from datetime import timedelta

In [9]:
start = datetime(2011, 1, 7)

In [10]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [11]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### CONVERTING B/W STRING AND DATETIME

In [12]:
# format datetime objs and pandas Timestamp objs using str or strftime

In [13]:
stamp = datetime(2011, 1, 3)

In [14]:
str(stamp)

'2011-01-03 00:00:00'

In [15]:
stamp.strftime('%Y-%m-%d') # %F - shortcut

'2011-01-03'

In [16]:
stamp.strftime('%D') # MM/DD/YY

'01/03/11'

In [17]:
# convert strings to dates using datetime.strptime
value = '2011-01-03'

In [18]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [19]:
datestrs = ['7/6/2011', '8/6/2011']

In [20]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [21]:
# datetime.strptime is a good way to parse date with a known format
# annoying is to mention a format spec each time
# solution is to use parser.parse from dateutil
from dateutil.parser import parse

In [22]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [23]:
# dateutil is capable of parsing most human-intelligible date
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [24]:
# for international locales, day appearing before month is very common
# pass dayfirst=True to indicate this
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [25]:
# to_datetime method parses many different kinds of dates
# standard formats - ISO 8601

In [26]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [27]:
import pandas as pd

pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [28]:
# also handles values that should be considered missing
# ex. None, empty string, etc.

In [29]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [30]:
idx[2]

NaT

In [31]:
# here NaT means 'Not a Time' which is pandas's null value for timestamp data

### TIME SERIES BASICS

In [32]:
from datetime import datetime
import numpy as np

In [33]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7),
         datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [34]:
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -0.063149
2011-01-05   -0.732337
2011-01-07   -2.264869
2011-01-08    0.367273
2011-01-10    1.190859
2011-01-12    0.024254
dtype: float64

In [35]:
# datetime objs have put in a DatetimeIndex
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [36]:
# arithmetic ops b/w differently indexed time series automatically align on the dates

In [37]:
# ts[::2] selects every second element in ts
ts + ts[::2]

2011-01-02   -0.126298
2011-01-05         NaN
2011-01-07   -4.529738
2011-01-08         NaN
2011-01-10    2.381719
2011-01-12         NaN
dtype: float64

In [38]:
# pandas stores timestamps using NumPy's datetime64 data type at nanosecond resolution

In [39]:
ts.index.dtype

dtype('<M8[ns]')

In [40]:
# scalar values from a DatetimeIndex are pandas Timestamp objs
stamp = ts.index[0]

In [41]:
stamp

Timestamp('2011-01-02 00:00:00')

### INDEXING, SELECTION, SUBSETTING

In [42]:
stamp = ts.index[2]

In [43]:
ts[stamp]

-2.26486897261003

In [44]:
# passing a string that is interpretable as a date
ts['1/10/2011']

1.1908592973717775

In [45]:
ts['20110110']

1.1908592973717775

In [46]:
# for longer time series, a year or only a year and month can be passed to easily select slices of data
longer_ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01    1.051815
2000-01-02    0.738912
2000-01-03   -0.168546
2000-01-04    0.170849
2000-01-05    2.151468
2000-01-06    0.857693
2000-01-07    0.055034
2000-01-08   -0.435030
2000-01-09    1.000912
2000-01-10   -0.417344
2000-01-11    0.315559
2000-01-12   -1.350389
2000-01-13   -1.444923
2000-01-14    0.644922
2000-01-15   -0.580728
2000-01-16    1.295118
2000-01-17    0.385760
2000-01-18   -1.266964
2000-01-19    0.741209
2000-01-20   -1.884858
2000-01-21    0.761833
2000-01-22    0.522683
2000-01-23   -0.527650
2000-01-24   -0.104820
2000-01-25   -0.233739
2000-01-26   -0.861461
2000-01-27   -0.610981
2000-01-28   -1.638672
2000-01-29   -0.623586
2000-01-30   -0.194496
                ...
2002-08-28   -0.559635
2002-08-29    1.503037
2002-08-30   -0.096579
2002-08-31   -0.335671
2002-09-01   -0.693028
2002-09-02   -1.229746
2002-09-03   -0.676834
2002-09-04    0.048257
2002-09-05    0.086484
2002-09-06    0.665173
2002-09-07    0.269009
2002-09-08   -2.348916
2002-09-09   -2.131427
2002-09-10   -2.139692
2002-09-11   -1.406247
2002-09-12    0.382946
2002-09-13   -0.954566
2002-09-14    0.845884
2002-09-15    0.487647
2002-09-16   -0.316570
2002-09-17   -1.865629
2002-09-18   -0.018299
2002-09-19    1.284955
2002-09-20    0.940818
2002-09-21    0.407727
2002-09-22   -0.587666
2002-09-23    2.329120
2002-09-24   -0.104850
2002-09-25   -0.979332
2002-09-26    0.980032
Freq: D, Length: 1000, dtype: float64

In [47]:
longer_ts['2001']

2001-01-01   -1.309378
2001-01-02    1.708484
2001-01-03    0.409956
2001-01-04   -2.341072
2001-01-05   -0.369584
2001-01-06    2.552150
2001-01-07    0.707151
2001-01-08   -1.102793
2001-01-09   -1.349570
2001-01-10   -0.605639
2001-01-11    0.837756
2001-01-12   -0.361616
2001-01-13   -1.210614
2001-01-14    0.001638
2001-01-15   -2.307416
2001-01-16    0.804389
2001-01-17   -0.972353
2001-01-18    0.476462
2001-01-19    0.582999
2001-01-20   -0.384360
2001-01-21   -0.474042
2001-01-22   -1.165981
2001-01-23   -0.843794
2001-01-24    2.047243
2001-01-25   -0.167006
2001-01-26   -1.181829
2001-01-27    0.310355
2001-01-28    0.268224
2001-01-29   -0.602110
2001-01-30   -1.915428
                ...
2001-12-02   -0.172712
2001-12-03   -0.451454
2001-12-04   -0.876594
2001-12-05    0.817506
2001-12-06    0.179041
2001-12-07   -1.334961
2001-12-08    0.112949
2001-12-09   -0.677992
2001-12-10   -0.369299
2001-12-11    0.484898
2001-12-12    0.470053
2001-12-13   -1.381471
2001-12-14    1.111616
2001-12-15    0.089485
2001-12-16    0.240434
2001-12-17   -1.866834
2001-12-18   -0.043711
2001-12-19    2.017508
2001-12-20   -0.698593
2001-12-21    0.547839
2001-12-22   -1.691275
2001-12-23    0.590028
2001-12-24    0.209827
2001-12-25   -0.343536
2001-12-26   -0.463961
2001-12-27    0.191777
2001-12-28    0.585229
2001-12-29   -1.206513
2001-12-30    0.934229
2001-12-31   -1.656305
Freq: D, Length: 365, dtype: float64

In [48]:
# here string '2001' is interpreted as a year and selects that time period
# this also works if you specify the month

In [49]:
longer_ts['2001-05']

2001-05-01   -0.763798
2001-05-02   -0.439069
2001-05-03    1.628508
2001-05-04   -1.026811
2001-05-05   -0.894152
2001-05-06   -1.082449
2001-05-07   -0.439916
2001-05-08   -1.257271
2001-05-09   -0.136733
2001-05-10    1.020976
2001-05-11    0.110060
2001-05-12   -0.816736
2001-05-13    0.471590
2001-05-14    0.130878
2001-05-15    1.923387
2001-05-16    1.427853
2001-05-17   -1.060203
2001-05-18   -0.697351
2001-05-19    0.121067
2001-05-20   -0.046593
2001-05-21    1.029736
2001-05-22    1.698835
2001-05-23   -0.761504
2001-05-24   -0.079291
2001-05-25    0.166513
2001-05-26    1.006934
2001-05-27   -0.888474
2001-05-28    0.341260
2001-05-29    0.783618
2001-05-30    0.711504
2001-05-31   -1.588016
Freq: D, dtype: float64

In [50]:
# slicing with datetime objs works too
ts[datetime(2011, 1, 7):]

2011-01-07   -2.264869
2011-01-08    0.367273
2011-01-10    1.190859
2011-01-12    0.024254
dtype: float64

In [51]:
# most time series data is ordered chronologically
# slice with timestamps contained in a time series to perform a range query

In [52]:
ts

2011-01-02   -0.063149
2011-01-05   -0.732337
2011-01-07   -2.264869
2011-01-08    0.367273
2011-01-10    1.190859
2011-01-12    0.024254
dtype: float64

In [53]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -2.264869
2011-01-08    0.367273
2011-01-10    1.190859
dtype: float64

In [54]:
# one can pass either a string date, datetime, or timestamp
# slicing in this manner produces views on the source time series like slicing NumPy arrays

In [55]:
# no data is copied and any mods on the slice will be reflected in the original state
# an equivalent instance method - truncate, slices a Series b/w two dates

In [56]:
ts.truncate(after='1/9/2011')

2011-01-02   -0.063149
2011-01-05   -0.732337
2011-01-07   -2.264869
2011-01-08    0.367273
dtype: float64

In [57]:
# works with DF
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas', 'New York', 'Ohio'])

In [58]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  1.147234 -0.050948 -1.211537 -0.546633
2001-05-09  0.226164  0.365655  0.665825  2.112971
2001-05-16 -0.015880 -0.285495  0.155607 -1.861572
2001-05-23  0.223145  1.431022  0.752612  2.086194
2001-05-30 -0.937532  1.133820  0.188413  1.069151

### TIME SERIES WITH DUPLICATE INDICES

In [62]:
# times when multiple data obs falling in a particular timestamp
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])

dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [63]:
# check if index is not unique
dup_ts.index.is_unique

False

In [64]:
# indexing in this time series will produce scalar values or slices depending on if a timestamp is duplicated
dup_ts['1/3/2000'] # not duplicated

4

In [65]:
dup_ts['1/2/2000'] # duplicated

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [66]:
# to aggregated data having non-unique timestamps
# use groupby and pass level=0
grouped = dup_ts.groupby(level=0)

In [67]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [68]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

### DATE RANGES, FREQUENCIES, AND SHIFTING

In [69]:
# generic time series in pandas are assumed to be irregular - no fixed frequency
# desire to have a fixed frequency such as daily, monthly, every 15 mins by introducing missing data

In [70]:
# convert the sample time series to be fixed daily frequency

In [71]:
ts

2011-01-02   -0.063149
2011-01-05   -0.732337
2011-01-07   -2.264869
2011-01-08    0.367273
2011-01-10    1.190859
2011-01-12    0.024254
dtype: float64

In [72]:
resampler = ts.resample('D') # D - daily frequency

### GENERATING DATE RANGES

In [76]:
# pandas.date_range - generates a DatetimeIndex with an indicated length of particular frequency

In [77]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [78]:
# passing only the start and end date, use number of periods to generate
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [79]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [80]:
# to want a date index containing the last business day of each month
# pass the 'BM' frequency and dates falling on or inside the date interval

In [81]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [82]:
# date_range preserves the time of start and end timestamp
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [83]:
# start or end dates have time info
# to generate a set of timestamps normalised to midnight as a convention
# use normalise option
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

### FREQUENCIES AND DATE OFFSETS

In [84]:
# composed of base freq and a multiplier
# base freq refered as a string alias, like 'M' for monthly and 'H' for hourly
# each base freq has a obj defined and refered as data offset
# hourly freq can be represented with Hour class
from pandas.tseries.offsets import Hour, Minute

In [85]:
hour = Hour()
hour

In [86]:
# define a multiple of an offset by passing an integer
four_hours = Hour(4)
four_hours

In [87]:
# low chances of ever needed to explicitly create one of these objs
# use string alias like 'H'/'4H'
# integer creates a multiple
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [88]:
# combine offsets by addition
Hour(2) + Minute(30)

In [89]:
# pass frequency strings - '1h30min'
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [90]:
# 'M' - calender month end
# 'BM' - last business/weekday of month
# some freq describes points in time that are not evenly spaced
# depends on the number of days in a month of 'M'
# 'BM' - when month ends on a weekend or not
# known as anchored offsets

#### WEEK OF MONTH DATES

In [91]:
# usual freq class is 'week of month' - WOM
# enables to get dates like the third Friday of each month
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

### SHIFTING (Leading and Lagging) DATA

In [92]:
# shifting refers to moving data backward and forward through time
# both DF and Series have a shift method for naive shift forward or backward
# leaves index unmodified

In [93]:
ts = pd.Series(np.random.randn(4), index=pd.date_range('1/1/2000', periods=4, freq='M'))

In [94]:
ts

2000-01-31    0.297662
2000-02-29    0.448377
2000-03-31   -0.012894
2000-04-30   -0.512716
Freq: M, dtype: float64

In [95]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.297662
2000-04-30    0.448377
Freq: M, dtype: float64

In [96]:
ts.shift(-2)

2000-01-31   -0.012894
2000-02-29   -0.512716
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [97]:
# shifting like this will introduce missing data either at the start or the end of the time series
# common use of shift - computing percent changes in the time series or multiple time series as DF columns
ts / ts.shift(1) - 1

2000-01-31          NaN
2000-02-29     0.506332
2000-03-31    -1.028757
2000-04-30    38.763382
Freq: M, dtype: float64

In [98]:
# naive shifts leave the index unmodified, some data is discarded
ts.shift(2, freq='M')

2000-03-31    0.297662
2000-04-30    0.448377
2000-05-31   -0.012894
2000-06-30   -0.512716
Freq: M, dtype: float64

In [99]:
ts.shift(2, freq='D')

2000-02-02    0.297662
2000-03-02    0.448377
2000-04-02   -0.012894
2000-05-02   -0.512716
dtype: float64

In [101]:
ts.shift(2, freq='90T') # T - minutes

2000-01-31 03:00:00    0.297662
2000-02-29 03:00:00    0.448377
2000-03-31 03:00:00   -0.012894
2000-04-30 03:00:00   -0.512716
Freq: M, dtype: float64

#### SHIFTING DATES WITH OFFSETS

In [102]:
from pandas.tseries.offsets import Day, MonthEnd

In [103]:
now = datetime(2011, 11, 17)

now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [105]:
# adding anchored offset like MonthEnd will increment 'roll-forward' a date to the next date to freq rule
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [106]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [107]:
# anchored offsets can explicitly 'roll' dates forward or backward
# use rollforward and rollback methods
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [108]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [109]:
# creative use of date offsets is use these methods with groupby
ts = pd.Series(np.random.randn(20), index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts

2000-01-15    0.398873
2000-01-19   -1.284956
2000-01-23    0.161720
2000-01-27    0.424505
2000-01-31   -0.685115
2000-02-04   -1.418705
2000-02-08   -0.220582
2000-02-12    1.387063
2000-02-16    0.208409
2000-02-20    2.744920
2000-02-24   -2.462700
2000-02-28    0.871243
2000-03-03    0.016083
2000-03-07   -0.511251
2000-03-11   -0.047634
2000-03-15    0.360729
2000-03-19   -0.402288
2000-03-23    2.077746
2000-03-27    0.981865
2000-03-31   -0.168995
Freq: 4D, dtype: float64

In [110]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.196995
2000-02-29    0.158521
2000-03-31    0.288282
dtype: float64

In [111]:
ts.groupby(offset.rollback).mean()

1999-12-31   -0.074964
2000-01-31    0.053067
2000-02-29    0.353607
2000-03-31   -0.168995
dtype: float64

In [113]:
# easier way to use resample
# ts.groupby(offset.rollforward).mean()
ts.resample('M').mean()

2000-01-31   -0.196995
2000-02-29    0.158521
2000-03-31    0.288282
Freq: M, dtype: float64

### TIME ZONE HANDLING