In [1]:
# important form of structured data
# used in finance, economics, ecology, neuroscience and physics
# anything observed at many points in time forms a time series
# fixed frequency - data points occur at regular intervals
# time series can also be irregular

# timestamps - specific instants in time
# fixed periods - month Jan 2018 or full year 2018
# intervals of time - indicated by start-end timestamp
# elapsed time - each timestamp is a measure of time relative to particular start time

### DATE AND TIME DATA TYPES AND TOOLS

In [2]:
# datetime, time, calender - modules provided by Python
from datetime import datetime

In [3]:
now = datetime.now()
now

datetime.datetime(2019, 1, 21, 12, 5, 47, 813017)

In [4]:
now.year, now.month, now.day

(2019, 1, 21)

In [5]:
# datetime stores date and time down till microsecs
# timedelta represents the temporal difference b/w two datetime objs
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(926, 56700)

In [6]:
delta.days

926

In [7]:
delta.seconds

56700

In [8]:
# add or subtract timedelta to datetime obj to yield a new shifted obj
from datetime import timedelta

In [9]:
start = datetime(2011, 1, 7)

In [10]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [11]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### CONVERTING B/W STRING AND DATETIME

In [12]:
# format datetime objs and pandas Timestamp objs using str or strftime

In [13]:
stamp = datetime(2011, 1, 3)

In [14]:
str(stamp)

'2011-01-03 00:00:00'

In [15]:
stamp.strftime('%Y-%m-%d') # %F - shortcut

'2011-01-03'

In [16]:
stamp.strftime('%D') # MM/DD/YY

'01/03/11'

In [17]:
# convert strings to dates using datetime.strptime
value = '2011-01-03'

In [18]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [19]:
datestrs = ['7/6/2011', '8/6/2011']

In [20]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [21]:
# datetime.strptime is a good way to parse date with a known format
# annoying is to mention a format spec each time
# solution is to use parser.parse from dateutil
from dateutil.parser import parse

In [22]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [23]:
# dateutil is capable of parsing most human-intelligible date
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [24]:
# for international locales, day appearing before month is very common
# pass dayfirst=True to indicate this
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [25]:
# to_datetime method parses many different kinds of dates
# standard formats - ISO 8601

In [26]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [27]:
import pandas as pd

pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [28]:
# also handles values that should be considered missing
# ex. None, empty string, etc.

In [29]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [30]:
idx[2]

NaT

In [31]:
# here NaT means 'Not a Time' which is pandas's null value for timestamp data

### TIME SERIES BASICS

In [32]:
from datetime import datetime
import numpy as np

In [33]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7),
         datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [34]:
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02    0.761569
2011-01-05   -0.126931
2011-01-07    1.480848
2011-01-08   -0.183209
2011-01-10    0.942845
2011-01-12   -0.834889
dtype: float64

In [35]:
# datetime objs have put in a DatetimeIndex
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [36]:
# arithmetic ops b/w differently indexed time series automatically align on the dates

In [37]:
# ts[::2] selects every second element in ts
ts + ts[::2]

2011-01-02    1.523138
2011-01-05         NaN
2011-01-07    2.961695
2011-01-08         NaN
2011-01-10    1.885689
2011-01-12         NaN
dtype: float64

In [38]:
# pandas stores timestamps using NumPy's datetime64 data type at nanosecond resolution

In [39]:
ts.index.dtype

dtype('<M8[ns]')

In [40]:
# scalar values from a DatetimeIndex are pandas Timestamp objs
stamp = ts.index[0]

In [41]:
stamp

Timestamp('2011-01-02 00:00:00')

### INDEXING, SELECTION, SUBSETTING

In [42]:
stamp = ts.index[2]

In [43]:
ts[stamp]

1.480847748050632

In [44]:
# passing a string that is interpretable as a date
ts['1/10/2011']

0.942844653246642

In [45]:
ts['20110110']

0.942844653246642

In [46]:
# for longer time series, a year or only a year and month can be passed to easily select slices of data
longer_ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01   -0.821609
2000-01-02   -1.106469
2000-01-03    0.034174
2000-01-04   -0.243451
2000-01-05   -0.817765
2000-01-06   -0.217490
2000-01-07    0.149494
2000-01-08    0.977184
2000-01-09    1.207567
2000-01-10    0.008102
2000-01-11    0.184203
2000-01-12    0.429621
2000-01-13    0.203176
2000-01-14    0.724514
2000-01-15   -0.232612
2000-01-16    0.632259
2000-01-17   -0.724357
2000-01-18   -0.106631
2000-01-19   -0.698748
2000-01-20   -2.741766
2000-01-21    0.622876
2000-01-22    0.034929
2000-01-23    0.902613
2000-01-24    0.665874
2000-01-25   -0.810663
2000-01-26   -1.280224
2000-01-27    0.392972
2000-01-28   -0.365233
2000-01-29   -0.308584
2000-01-30   -0.646777
                ...
2002-08-28    0.082077
2002-08-29    0.861362
2002-08-30    1.180670
2002-08-31    1.659843
2002-09-01   -1.204805
2002-09-02    0.670749
2002-09-03    0.511402
2002-09-04    0.003049
2002-09-05    0.951214
2002-09-06    1.275691
2002-09-07    0.480400
2002-09-08    0.258231
2002-09-09   -0.065007
2002-09-10    2.063977
2002-09-11    1.028863
2002-09-12   -0.379451
2002-09-13   -0.259573
2002-09-14    0.371282
2002-09-15    1.337811
2002-09-16    1.834962
2002-09-17    1.130832
2002-09-18   -0.864343
2002-09-19    0.973285
2002-09-20    0.153551
2002-09-21    1.462110
2002-09-22   -0.043143
2002-09-23    0.327002
2002-09-24   -0.232144
2002-09-25   -0.508206
2002-09-26   -1.214099
Freq: D, Length: 1000, dtype: float64

In [47]:
longer_ts['2001']

2001-01-01   -0.837964
2001-01-02   -0.193606
2001-01-03   -0.727720
2001-01-04   -0.233622
2001-01-05   -0.548286
2001-01-06    0.611033
2001-01-07    1.054649
2001-01-08   -0.195044
2001-01-09    0.012921
2001-01-10   -0.900109
2001-01-11   -0.269982
2001-01-12    0.092135
2001-01-13    1.456259
2001-01-14    1.653932
2001-01-15    0.010120
2001-01-16   -0.557914
2001-01-17    0.951901
2001-01-18   -1.952514
2001-01-19   -1.010388
2001-01-20    1.188179
2001-01-21   -1.074563
2001-01-22    0.956418
2001-01-23    2.080395
2001-01-24   -1.433099
2001-01-25   -1.249604
2001-01-26   -0.583806
2001-01-27   -1.077155
2001-01-28   -1.979318
2001-01-29    1.533786
2001-01-30    0.559565
                ...
2001-12-02   -1.283257
2001-12-03   -2.291198
2001-12-04   -0.213748
2001-12-05    0.514840
2001-12-06    0.528239
2001-12-07   -1.765052
2001-12-08   -1.757656
2001-12-09    1.599869
2001-12-10    0.390285
2001-12-11   -0.836314
2001-12-12   -1.566196
2001-12-13   -0.354618
2001-12-14   -1.485546
2001-12-15    1.098075
2001-12-16   -0.387338
2001-12-17   -0.536075
2001-12-18    2.147024
2001-12-19   -0.222865
2001-12-20   -0.826340
2001-12-21    0.560126
2001-12-22    1.992462
2001-12-23   -0.601295
2001-12-24    0.210828
2001-12-25    1.116291
2001-12-26   -0.776086
2001-12-27   -1.432021
2001-12-28    0.484362
2001-12-29    1.094823
2001-12-30   -0.849363
2001-12-31    0.442422
Freq: D, Length: 365, dtype: float64

In [48]:
# here string '2001' is interpreted as a year and selects that time period
# this also works if you specify the month

In [49]:
longer_ts['2001-05']

2001-05-01    0.389394
2001-05-02   -1.528763
2001-05-03    0.620594
2001-05-04   -1.105783
2001-05-05    0.270955
2001-05-06   -0.045947
2001-05-07    0.505620
2001-05-08   -1.036334
2001-05-09    0.222276
2001-05-10    0.601901
2001-05-11   -0.826881
2001-05-12    0.927856
2001-05-13   -0.088260
2001-05-14   -0.026017
2001-05-15    1.767236
2001-05-16    0.077375
2001-05-17   -0.668820
2001-05-18    1.680858
2001-05-19   -1.228279
2001-05-20   -0.038261
2001-05-21   -0.780246
2001-05-22    1.170656
2001-05-23   -0.185796
2001-05-24    0.627114
2001-05-25   -1.205714
2001-05-26    0.048977
2001-05-27   -0.911770
2001-05-28    0.611438
2001-05-29    0.727628
2001-05-30    0.458295
2001-05-31   -1.092334
Freq: D, dtype: float64

In [50]:
# slicing with datetime objs works too
ts[datetime(2011, 1, 7):]

2011-01-07    1.480848
2011-01-08   -0.183209
2011-01-10    0.942845
2011-01-12   -0.834889
dtype: float64

In [51]:
# most time series data is ordered chronologically
# slice with timestamps contained in a time series to perform a range query

In [52]:
ts

2011-01-02    0.761569
2011-01-05   -0.126931
2011-01-07    1.480848
2011-01-08   -0.183209
2011-01-10    0.942845
2011-01-12   -0.834889
dtype: float64

In [53]:
ts['1/6/2011':'1/11/2011']

2011-01-07    1.480848
2011-01-08   -0.183209
2011-01-10    0.942845
dtype: float64

In [54]:
# one can pass either a string date, datetime, or timestamp
# slicing in this manner produces views on the source time series like slicing NumPy arrays

In [55]:
# no data is copied and any mods on the slice will be reflected in the original state
# an equivalent instance method - truncate, slices a Series b/w two dates

In [56]:
ts.truncate(after='1/9/2011')

2011-01-02    0.761569
2011-01-05   -0.126931
2011-01-07    1.480848
2011-01-08   -0.183209
dtype: float64

In [57]:
# works with DF
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas', 'New York', 'Ohio'])

In [58]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -1.796568 -0.353932 -0.112054 -0.252175
2001-05-09 -0.971168  0.589896 -0.312382 -1.633026
2001-05-16 -1.075468 -1.031741  0.736596  0.252449
2001-05-23 -0.258404  1.005851  0.187671  0.288781
2001-05-30  2.048154  2.074874  0.364611 -0.189745

### TIME SERIES WITH DUPLICATE INDICES

In [59]:
# times when multiple data obs falling in a particular timestamp
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])

dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [60]:
# check if index is not unique
dup_ts.index.is_unique

False

In [61]:
# indexing in this time series will produce scalar values or slices depending on if a timestamp is duplicated
dup_ts['1/3/2000'] # not duplicated

4

In [62]:
dup_ts['1/2/2000'] # duplicated

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [63]:
# to aggregated data having non-unique timestamps
# use groupby and pass level=0
grouped = dup_ts.groupby(level=0)

In [64]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [65]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

### DATE RANGES, FREQUENCIES, AND SHIFTING

In [66]:
# generic time series in pandas are assumed to be irregular - no fixed frequency
# desire to have a fixed frequency such as daily, monthly, every 15 mins by introducing missing data

In [67]:
# convert the sample time series to be fixed daily frequency

In [68]:
ts

2011-01-02    0.761569
2011-01-05   -0.126931
2011-01-07    1.480848
2011-01-08   -0.183209
2011-01-10    0.942845
2011-01-12   -0.834889
dtype: float64

In [69]:
resampler = ts.resample('D') # D - daily frequency

### GENERATING DATE RANGES

In [70]:
# pandas.date_range - generates a DatetimeIndex with an indicated length of particular frequency

In [71]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [72]:
# passing only the start and end date, use number of periods to generate
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [73]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [74]:
# to want a date index containing the last business day of each month
# pass the 'BM' frequency and dates falling on or inside the date interval

In [75]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [76]:
# date_range preserves the time of start and end timestamp
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [77]:
# start or end dates have time info
# to generate a set of timestamps normalised to midnight as a convention
# use normalise option
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

### FREQUENCIES AND DATE OFFSETS

In [78]:
# composed of base freq and a multiplier
# base freq refered as a string alias, like 'M' for monthly and 'H' for hourly
# each base freq has a obj defined and refered as data offset
# hourly freq can be represented with Hour class
from pandas.tseries.offsets import Hour, Minute

In [79]:
hour = Hour()
hour

In [80]:
# define a multiple of an offset by passing an integer
four_hours = Hour(4)
four_hours

In [81]:
# low chances of ever needed to explicitly create one of these objs
# use string alias like 'H'/'4H'
# integer creates a multiple
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [82]:
# combine offsets by addition
Hour(2) + Minute(30)

In [83]:
# pass frequency strings - '1h30min'
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [84]:
# 'M' - calender month end
# 'BM' - last business/weekday of month
# some freq describes points in time that are not evenly spaced
# depends on the number of days in a month of 'M'
# 'BM' - when month ends on a weekend or not
# known as anchored offsets

#### WEEK OF MONTH DATES

In [85]:
# usual freq class is 'week of month' - WOM
# enables to get dates like the third Friday of each month
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

### SHIFTING (Leading and Lagging) DATA

In [86]:
# shifting refers to moving data backward and forward through time
# both DF and Series have a shift method for naive shift forward or backward
# leaves index unmodified

In [87]:
ts = pd.Series(np.random.randn(4), index=pd.date_range('1/1/2000', periods=4, freq='M'))

In [88]:
ts

2000-01-31    1.476103
2000-02-29   -2.020670
2000-03-31   -0.547132
2000-04-30    1.731482
Freq: M, dtype: float64

In [89]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    1.476103
2000-04-30   -2.020670
Freq: M, dtype: float64

In [90]:
ts.shift(-2)

2000-01-31   -0.547132
2000-02-29    1.731482
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [91]:
# shifting like this will introduce missing data either at the start or the end of the time series
# common use of shift - computing percent changes in the time series or multiple time series as DF columns
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -2.368922
2000-03-31   -0.729232
2000-04-30   -4.164650
Freq: M, dtype: float64

In [92]:
# naive shifts leave the index unmodified, some data is discarded
ts.shift(2, freq='M')

2000-03-31    1.476103
2000-04-30   -2.020670
2000-05-31   -0.547132
2000-06-30    1.731482
Freq: M, dtype: float64

In [93]:
ts.shift(2, freq='D')

2000-02-02    1.476103
2000-03-02   -2.020670
2000-04-02   -0.547132
2000-05-02    1.731482
dtype: float64

In [94]:
ts.shift(2, freq='90T') # T - minutes

2000-01-31 03:00:00    1.476103
2000-02-29 03:00:00   -2.020670
2000-03-31 03:00:00   -0.547132
2000-04-30 03:00:00    1.731482
Freq: M, dtype: float64

#### SHIFTING DATES WITH OFFSETS

In [95]:
from pandas.tseries.offsets import Day, MonthEnd

In [96]:
now = datetime(2011, 11, 17)

now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [97]:
# adding anchored offset like MonthEnd will increment 'roll-forward' a date to the next date to freq rule
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [98]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [99]:
# anchored offsets can explicitly 'roll' dates forward or backward
# use rollforward and rollback methods
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [100]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [101]:
# creative use of date offsets is use these methods with groupby
ts = pd.Series(np.random.randn(20), index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts

2000-01-15   -2.035671
2000-01-19    1.153144
2000-01-23    0.079980
2000-01-27    1.151467
2000-01-31    1.267941
2000-02-04   -0.131094
2000-02-08    0.026143
2000-02-12   -1.221494
2000-02-16    0.664637
2000-02-20   -1.039994
2000-02-24    0.181269
2000-02-28    0.080754
2000-03-03   -0.173272
2000-03-07   -2.054290
2000-03-11    1.945393
2000-03-15    1.615513
2000-03-19    0.352458
2000-03-23   -0.511228
2000-03-27    1.245388
2000-03-31   -1.164916
Freq: 4D, dtype: float64

In [102]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.323372
2000-02-29   -0.205683
2000-03-31    0.156881
dtype: float64

In [103]:
ts.groupby(offset.rollback).mean()

1999-12-31    0.087230
2000-01-31   -0.021480
2000-02-29    0.345709
2000-03-31   -1.164916
dtype: float64

In [104]:
# easier way to use resample
# ts.groupby(offset.rollforward).mean()
ts.resample('M').mean()

2000-01-31    0.323372
2000-02-29   -0.205683
2000-03-31    0.156881
Freq: M, dtype: float64

### TIME ZONE HANDLING

In [105]:
# users prefer time series in coordinated universal time (UTC)
# UTC is a successor to Greenwich Mean Time (GMT)
# GMT is the current international standard
# pytz lib has Olson db, a compilation of world time zone info
import pytz

In [106]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [111]:
# methods in pandas accept either time zone names or these objs
tz = pytz.timezone('Asia/Kolkata')
tz

### TIME ZONE LOCALIZATION AND CONVERSION

In [112]:
# time series in pandas are time zone naive
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
rng

DatetimeIndex(['2012-03-09 09:30:00', '2012-03-10 09:30:00',
               '2012-03-11 09:30:00', '2012-03-12 09:30:00',
               '2012-03-13 09:30:00', '2012-03-14 09:30:00'],
              dtype='datetime64[ns]', freq='D')

In [113]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-09 09:30:00   -0.316191
2012-03-10 09:30:00    0.627361
2012-03-11 09:30:00   -0.425694
2012-03-12 09:30:00    0.971657
2012-03-13 09:30:00    0.126931
2012-03-14 09:30:00    0.083290
Freq: D, dtype: float64

In [114]:
# index of tz field is None
print(ts.index.tz)

None

In [115]:
# date ranges can be generated with a time zone set
pd.date_range('3/9/2012 9:30', periods=6, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [116]:
# conversion from naive to localized is handled by tz_localize method
ts

2012-03-09 09:30:00   -0.316191
2012-03-10 09:30:00    0.627361
2012-03-11 09:30:00   -0.425694
2012-03-12 09:30:00    0.971657
2012-03-13 09:30:00    0.126931
2012-03-14 09:30:00    0.083290
Freq: D, dtype: float64

In [117]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-09 09:30:00+00:00   -0.316191
2012-03-10 09:30:00+00:00    0.627361
2012-03-11 09:30:00+00:00   -0.425694
2012-03-12 09:30:00+00:00    0.971657
2012-03-13 09:30:00+00:00    0.126931
2012-03-14 09:30:00+00:00    0.083290
Freq: D, dtype: float64

In [118]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [120]:
# localized time series can be converted to another time zone
ts_utc.tz_convert('Asia/Kolkata')

2012-03-09 15:00:00+05:30   -0.316191
2012-03-10 15:00:00+05:30    0.627361
2012-03-11 15:00:00+05:30   -0.425694
2012-03-12 15:00:00+05:30    0.971657
2012-03-13 15:00:00+05:30    0.126931
2012-03-14 15:00:00+05:30    0.083290
Freq: D, dtype: float64

In [121]:
# for DST transitions, localize to EST and convert to another time zone
ts_eastern = ts.tz_localize('America/New_York')
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00   -0.316191
2012-03-10 14:30:00+00:00    0.627361
2012-03-11 13:30:00+00:00   -0.425694
2012-03-12 13:30:00+00:00    0.971657
2012-03-13 13:30:00+00:00    0.126931
2012-03-14 13:30:00+00:00    0.083290
Freq: D, dtype: float64

In [122]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00   -0.316191
2012-03-10 15:30:00+01:00    0.627361
2012-03-11 14:30:00+01:00   -0.425694
2012-03-12 14:30:00+01:00    0.971657
2012-03-13 14:30:00+01:00    0.126931
2012-03-14 14:30:00+01:00    0.083290
Freq: D, dtype: float64

In [124]:
# tz_localize and tz_convert - instance methods on DatetimeIndex
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

### OPERATIONS WITH TIME ZONE - AWARE TIMESTAMP OBJECTS

In [125]:
# individual timestamp objs can be localized from naive to time zone-aware
# can be converted from one time zone to another
stamp = pd.Timestamp('2011-03-12 04:00')
stamp_utc = stamp.tz_localize('UTC')

In [126]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [128]:
# can pass time zone when creating the Timestamp
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [129]:
# time zone-aware Timestamp obj internally store UTC timestamp value as nanoseconds
# UTC value is invariant b/w time zone conversions
stamp_utc.value

1299902400000000000

In [130]:
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

In [131]:
# when performing time arithmetic using pandas DateOffset obj
# pandas respects daylight saving time transitions

In [132]:
# create timestamps that occur right before DST transitions
# 30 mins before transitioning to DST
from pandas.tseries.offsets import Hour

In [133]:
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [134]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [135]:
# 90 mins before transitioning out of DST

In [136]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [138]:
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

### OPERATIONS B/W DIFFERENT TIME ZONES

In [139]:
# two time zones combined will result into a UTC
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-07 09:30:00    0.603562
2012-03-08 09:30:00    0.095734
2012-03-09 09:30:00    0.227116
2012-03-12 09:30:00   -0.021252
2012-03-13 09:30:00    0.809776
2012-03-14 09:30:00    1.564093
2012-03-15 09:30:00   -0.287307
2012-03-16 09:30:00   -0.817826
2012-03-19 09:30:00   -0.186213
2012-03-20 09:30:00   -0.056030
Freq: B, dtype: float64

In [141]:
ts1 = ts[:7].tz_localize('Europe/London')
ts2 = ts1[2:].tz_convert('Europe/Moscow')

In [142]:
result = ts1 + ts2

In [143]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

## 11.5 and onwards incomplete